</head>

<body>








    <div class="main" id="main">

        <!-- empecher le User de dérouler la barre de gauche -->
        <% if (user.username != 'admin'){ %>
            <div class="left" style="margin-top: 4%; z-index: -1 !important;">

                <% }else{ %>
                    <div class="left" style="margin-top: 4%">

                        <% } %>


                            <ul>
                                <li class="menu-heading"> Utilisateur</li>

                                <% if (user.username !='admin') { %>
                                    <li id="menu-item4"><a href="#"><i class="fa fa-home fa-lg"></i> Tableau de bord</a></li>
                                    <% }else{ %>
                                        <li id="menu-item4"><a href="/dashboard"><i class="fa fa-home fa-lg"></i> Tableau de bord</a></li>
                                        <% } %>


                                            <li id="menu-item3"><a href="/pos"><i class="fa fa-th"></i> POS</a></li>


                                            <% if (user.username !='admin') { %>
                                                <li id="menu-item1">
                                                    <a href="#" class="toggle-custom" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">

                                                        <span class="glyphicon glyphicon-plus" aria-hidden="true">
                          <i class="fa fa-product-hunt" aria-hidden="true"></i>Produits
                        </span>
                                                    </a>

                                                </li>
                                                <% } else{ %>
                                                    <li id="menu-item1">
                                                        <a href="#" class="toggle-custom" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">

                                                            <span class="glyphicon glyphicon-plus" aria-hidden="true">
                      <i class="fa fa-product-hunt" aria-hidden="true"></i>Produits<i id="fa1" class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                                                        </a>
                                                        <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                                                            <li>
                                                                <a href="/product/productList">
                                                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Liste des produits
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/product/addProduct">
                                                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Ajouter produit
                                                                </a>
                                                            </li>

                                                        </ul>

                                                    </li>
                                                    <% } %>






                                                        <% if (user.username !='admin') { %>
                                                            <li id="menu-item1">
                                                                <a href="#" class="toggle-custom" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">

                                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true">
                        <i class="fa fa-database" aria-hidden="true"></i></i>Categories
                    </span>
                                                                </a>

                                                            </li>
                                                            <% } else{ %>
                                                                <li id="menu-item1">
                                                                    <a href="#" class="toggle-custom" id="btn-1" data-toggle="collapse" data-target="#submenuCat" aria-expanded="false">

                                                                        <span class="glyphicon glyphicon-plus" aria-hidden="true">
                        <i class="fa fa-database" aria-hidden="true"></i>Categories<i id="fa8" class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
                                                                    </a>
                                                                    <ul class="nav collapse" id="submenuCat" role="menu" aria-labelledby="btn-1">
                                                                        <li>
                                                                            <a href="/categorie">
                                                                                <i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 17px;"></i> Liste des Categories
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="/categorie/add">
                                                                                <i  class="fa fa-angle-right" aria-hidden="true" style="margin-left: 17px;"></i> Ajouter Categorie
                                                                            </a>
                                                                        </li>

                                                                    </ul>

                                                                </li>
                                                                <% } %>













                                                                    <% if (user.username !='admin') { %>
                                                                        <li id="menu-item2">
                                                                            <a href="#" class="toggle-custom" id="btn-1" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">
                                                                                <span class="glyphicon glyphicon-plus" aria-hidden="true">
                            <i class="fa fa-users" aria-hidden="true"></i> 
                            Client
                            </span>
                                                                            </a>

                                                                        </li>
                                                                        <% } else {%>
                                                                            <li id="menu-item2">
                                                                                <a href="#" class="toggle-custom" id="btn-1" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">
                                                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true">
                        <i class="fa fa-users" aria-hidden="true"></i> 
                        Client
                        <i id="fa2" class="fa fa-arrow-right" aria-hidden="true"></i>
                      </span>
                                                                                </a>

                                                                                <ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-1">
                                                                                    <li>
                                                                                        <a href="/client/clientLists">
                                                                                            <i class="fa fa-angle-right" aria-hidden="true"></i> Liste des clients
                                                                                        </a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a href="/client/addClients">
                                                                                            <i class="fa fa-angle-right" aria-hidden="true"></i> Ajouter client</a>
                                                                                    </li>

                                                                                </ul>

                                                                            </li>
                                                                            <% } %>



                                                                                <% if (user.username != 'admin') { %>
                                                                                    <li id="menu-item5"><a href="#"><i class="fa fa-table fa-lg"></i>Stock</a></li>
                                                                                    <% } else { %>
                                                                                        <li id="menu-item5"><a href="/stock"><i class="fa fa-table fa-lg"></i>Stock</a></li>
                                                                                        <% } %>



                                                                                            <li class="menu-heading">Admin</li>





                                                                                            <% if (user.username !='admin') { %>
                                                                                                <li id="menu-item6">
                                                                                                    <a href="#" class="toggle-custom" id="btn-1" data-toggle="collapse" data-target="#submenu3" aria-expanded="false">
                                                                                                        <span class="glyphicon glyphicon-plus">
                        <i class="fa fa-street-view fa-lg"></i> Employer
                      </span>
                                                                                                    </a>
                                                                                                </li>
                                                                                                <% } else {%>
                                                                                                    <li id="menu-item6">
                                                                                                        <a href="#" class="toggle-custom" id="btn-1" data-toggle="collapse" data-target="#submenu3" aria-expanded="false">
                                                                                                            <span class="glyphicon glyphicon-plus">
                            <i class="fa fa-street-view fa-lg"></i> Employer<i id="fa3" class="fa fa-arrow-right" aria-hidden="true"></i>
                          </span>
                                                                                                        </a>
                                                                                                        <ul class="nav collapse" id="submenu3" role="menu" aria-labelledby="btn-1">
                                                                                                            <li>
                                                                                                                <a href="/users/usersList">
                                                                                                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Liste des employés
                                                                                                                </a>
                                                                                                            </li>
                                                                                                            <li>
                                                                                                                <a href="/users/addUser">
                                                                                                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Ajouter employé
                                                                                                                </a>
                                                                                                            </li>
                                                                                                        </ul>

                                                                                                    </li>
                                                                                                    <% } %>


                                                                                                        <li id="menu-item3"><a href="/param"><i class="fa fa-cog" aria-hidden="true"></i> Paramètres</a></li>
                                                                                                        <li id="menu-item8">
                                                                                                            <a href="/logout">
                                                                                                                <i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion
                                                                                                            </a>
                                                                                                        </li>

                            </ul>
                    </div>


























                    <div class="right">
                        <div class="tab-content">


                            <!--Navigation-->
                            <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top " id="mainNav">
                                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                                <div class="collapse navbar-collapse" id="navbarResponsive">



                                    <ul class="navbar-nav navbar-nav navbar-left " id="ulMenu">

                                        

                                         <!-- Li 1 -->
                                         <% if ((user.firstName.length + user.lastName.length) <= 20) { %>
                                                                                    
                                            <li style="text-align: center;  width: 90%; height: 40px; ">
                                              <a href="<%= '/users/modifier/'  + user.id %>">
                                                <button type="button" id="btnU" class="btn btn-block" style="height: 40px; font-size: 15px;"><%= user.firstName%> <%= user.lastName%></button>
                                                </a>
                                            </li>
                                        <% }else{ %>
                                            <li style="text-align: center;  width: 90%; height: 40px; ">
                                              <a href="<%= '/users/modifier/'  + user.id %>">
                                                <button type="button" id="btnU" class="btn btn-block" style="height: 40px; font-size: 9px;"><%= user.firstName%> <%= user.lastName%></button>
                                              </a>
                                            </li>
                                        <% } %>
                                        <!-- /Li 1 -->

                                        <!-- Li 2 -->
                                        <li>
                                            <form class="form-inline my-2 my-lg-0 ">
                                                <div class="input-group " style="width: 100%;">

                                                    <input class="form-control search-top" type="text" placeholder="Nom Produit" id="scannFilterClientPos" style="width: 100%;">

                                                </div>
                                            </form>
                                        </li>
                                        <!-- /Li 2 -->


                                        <!-- Li 5 -->
                                        <li class="nav-item" style="margin-left: 10px;">
                                            <form action="/pos/ajouter" method="post" class="form-inline my-2 my-lg-0 mr-lg-2 searchProducForm">

                                                <input class="form-control search-top" type="number" placeholder="Codebarre produit" name="newArticle" id="CodeBr">

                                            </form>
                                        </li>
                                        <!-- /Li 5 -->



                                        <!-- Li 6 -->
                                        <li style="text-align: end;">
                                            <img src="<%= '/images/' + user.avatar%>" data-retina="true" alt="i" width="40px" height="40px" style="border-radius: 60px; box-shadow: 0px 0px 2px 2px #FF8C00;">
                                        </li>
                                        <!-- /Li 6 -->



                                        <!-- Li 7 -->
                                        <li class="nav-item dropdown dropleft" style="text-align: right;">

                                            <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                <span class="d-lg-none">Messages
                <span class="badge badge-pill badge-primary">12 News</span>
                                                </span>

                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="messagesDropdown" style="margin-top: 40px; margin-right: -40px;">

                                                <a class="dropdown-item" href="<%= '/users/modifier/'  + user.id %>">
                                                    <i class="fa fa-user" aria-hidden="true"></i><strong style="margin-left: 20px;">Mon Compte</strong>

                                                </a>
                                                <div class="dropdown-divider"></div>

                                                <a class="dropdown-item" href="/logout">
                                                    <i class="fa fa-line-chart fa-lg" aria-hidden="true"></i><strong style="margin-left: 20px;">Déconnexion</strong>

                                                </a>

                                            </div>
                                        </li>
                                        <!-- /Li 7 -->

                                    </ul>
                                </div>
                            </nav>



                            <!-- Overview -->
                            <div id="overview" class="tab-pane active">
                                <div class="content">


                                    <div class="content-wrapper">
                                        <div class="container-fluid">

                                            <!--=========================== Ajoute les bout de code de chaque page ici ===================================-->





                                            <!--============================================ FIN DE L'AJOUT ==============================================-->